canvas {
  display: block;
  margin: 50px auto;
  box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;
}
button{
  display: block;
  width: 166px;
  padding: 12px 30px;
  margin: 0 auto;
  background-color: #449d44;
  border-radius: 35px;
  font-size: 24px;
  font-weight: 900;
  outline: none;
}